body {
  text-align: center;
  color: blue;
  font-family: 'lato', sans-serif;
  background-color: lightgrey;
}

.title {
  text-align: center;
  font-family: 'lato', sans-serif;
  font-size: 100px;
  margin-bottom: 50px;
  color: blue;
}

.container {
  display: grid;
  justify-content: center;
}

ul {
  border: 3px solid blue;
  padding: 10px;
  list-style-type: none;
  width: 800px
}

li {
  padding-bottom: 10px;
}

.btn-primary {
  font-size: 20px;
  font-family: 'lato', sans-serif;
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border-color: black;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin-left: 5px;
}

.btn-primary:active {
    background-color: lightblue;
    box-shadow: 2px 2px 2px black;
    font-size: 15px;
}

.btn-primary:hover {
  background-color: yellow;
  border: 3px solid black;
  color: black;
}

/*Pokemon Modal*/

#pokemon-modal {
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 25%;
  background-color: lightblue;
  height: 390px;
  width: 300px;
}

.modal-content {
  color: rgb(11, 184, 11);
  font-family: 'lato', sans-serif;
  font-weight: bold;
  position: relative;
  width: 80%;
  left: 13%;
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: rgb(214, 212, 212);
}

.Pokeheight, .Poketype, .Pokename {
  text-align: center;
  user-select: none;
}

.Pokeheight, .Poketype {
  font-size: 20px;
}

.Pokename {
  font-size: 25px;
  font-weight: bold;
}

.img-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.Pokeimage {
  width: 60%;
}

#search-bar {
  width: 180px;
}









.img-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

.pokeHeight, .pokeType, .pokeName {
  text-align: center;
}

.pokeHeight, .pokeType {
  font-size: 20px;
}

.pokeName {
  font-size: 30px;
}
